<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: head}">
  <title>Details</title>

</head>
<body>
  <main>
    <header th:replace="~{fragments/header :: header}"></header>
    <h1>Détails de l'étudiant</h1>

    <div class="student-details">
      <h2 th:text="${student.firstName} + ' ' + ${student.lastName}"></h2>
      <p th:text="'Email: ' + ${student.email}"></p>
      <p th:text="'ID: ' + ${student.id}"></p>

      <div class="actions">

        <form th:action="@{/students/delete/{id}(id=${student.id})}" method="post">
          <a class="btn-back" href="/students">Retour à la liste</a>
          <a th:href="@{/students/update/{id}(id=${student.id})}">Modifier</a>
          <button class="btn-delete" type="submit">Supprimer</button>
        </form>
      </div>
    </div>
  </main>

</body>
</html>